@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
img{
  background: #4070f4;
}
body {
  max-width: 1000px;
  width: 100%;
    background: #c1c9df;
    color: #4f52ba;
  }

  header {
    width: 100vw;
    height: 150px;
    background: #161a2d;
  }

  header h1{
    text-align: center;
    padding: 40px 0;
    font-weight: 600;
    font-size: 40px;
    color: #c1c9df;
    font-family: "Poppins", sans-serif;
  }

  nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    font-size: 20px;
    
  }

  .time{
   font-weight: 600;
  }

  .profile{
    background:  #161a2d;
    display: flex;
    border-radius: 10px;
    width: 100vw;
  }

  .profile-content .text{
    margin: 0 70px;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;

  }
  

  .text-one{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
  font-size: 60px;
  color: #4070f4;
  margin-bottom: 40px;
  text-decoration: underline;
  }

  .text-two, .text-three, .text-four{
    font-family: "Poppins", sans-serif;
    color: #c1c9df;;
    font-size: 30px;
    margin-bottom: 20px;
    
    }

    .goals-container{
      width: 100vw;
      margin: 50px auto;
      padding: 20px 40px;
      font-family: "Poppins", sans-serif;
    }

    .goals-container .my-goals ul h2{
      color: #4070f4;
      text-align: center;
      font-size: 60px;
    }

    .goals-container .my-goals ul li{
      margin-bottom: 20px;
      background:  #161a2d;
      color: #4070f4;
     list-style: none;
     padding: 7px 14px;
    margin-right: 20px;
    font-size: 25px;
    }
  

  








.profile .profile-content{
    width: 90%;
    height: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }